<header>
  <div class="container">
    <a routerLink="/" class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <div class="dropdown">
           <button class="dropbtn">NBA 2K
             <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content">
             <a href="/more">Scores</a>
             <a href="/more">Players</a>
             <a href="/more">Stats</a>
          </div>
        </div>
        <div class="dropdown">
           <button class="dropbtn">Dota 2
             <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content">
             <a href="/more">Scores</a>
             <a routerLink="/dota-players">Players</a>
             <a href="/more">Stats</a>
          </div>
        </div>
        <li><a routerLink="/more">More</a></li>
      </ul>
    </nav>
  </div>
</header>
