<div class = "rectangle">
   <div class = "row">
      <div class = "col"> 
         <p class = "p1">Draft your own league!</p>
      </div>
      <div class = "col"> 
         <div class = "row"> 
            <div class = "col"> 
               <p class = "p1">My leagues</p>
            </div>
         </div>
         <div class = "row"> 
            <div class = "col"> 
               <div class = "league-button">
               <button type="button" class="btn btn-primary btn-lg btn-block text-left" routerLink = "/drafting-page">League_1</button>
               </div>
            </div>
         </div>
         <div class = "row"> 
            <div class = "col"> 
               <div class = "league-button">
                  <!--<app-league-modal> </app-league-modal>-->
                 <button type="button" class="btn btn-primary btn-lg btn-block text-left" routerLink = "/drafting-page">Create New League</button>
               </div>
            </div>
         </div>
         
      </div>
   </div>
</div>
