.rectangle {
  /*padding-top: 100px;*/
  padding: 20px;
  display: block;
  margin: 0px;
  height: 350px;

  width: 100%;
  border: 3px solid black;
  background-color:rgb(255,255,255);
}

.p1{
   text-align: left;
}

.league-button {
   padding: 5px;
}

.vertical-menu {
  width: 100%;
  height: 43%;
  overflow-y: auto;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}
