<button ng-click = "open()" type="button" class="btn btn-primary" id="createLeagueButton" data-toggle="modal" data-target="#createLeagueModal"> Create League </button>

<div class="modal" id="createLeagueModal" tabindex="-1" role="dialog" aria-labelledby="createLeagueModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createLeagueModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>













<!--<script>-->
  <!--console.log('rawr');-->
  <!--$('#createLeagueModal').on('show.bs.modal', function (event) {-->
    <!--var button = $(event.relatedTarget); // Button that triggered the modal-->
    <!--var recipient = button.data('whatever'); // Extract info from data-* attributes-->
    <!--// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).-->
    <!--// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.-->
    <!--var modal = $(this);-->
    <!--modal.find('.modal-title').text('New message to ' + recipient);-->
    <!--modal.find('.modal-body input').val(recipient);-->
    <!--console.log('rawr');-->
  <!--})-->
<!--</script>-->

<!--<script>-->
  <!--console.log('rawr');-->
<!--</script>-->



<!--<script>-->
  <!--$('#createLeagueModal').on('show.bs.modal', function (event) {-->
    <!--// console.log("hello");-->
    <!--var button = $(event.relatedTarget); // Button that triggered the modal-->
    <!--console.log(button);-->
    <!--var recipient = button.data('whatever'); // Extract info from data-* attributes-->
    <!--// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).-->
    <!--// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.-->
    <!--var modal = $(this);-->
    <!--modal.find('.modal-title').text('New message to ' + recipient);-->
    <!--modal.find('.modal-body input').val(recipient);-->
  <!--})-->
<!--</script>-->
<!--&lt;!&ndash;&lt;!&ndash; Button to open the modal &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<button onclick="document.getElementById('id01').style.display='block'">Create new league</button>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash; The Modal (contains the Sign Up form) &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<div id="id01" class="modal">&ndash;&gt;-->
  <!--&lt;!&ndash;<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"></span>&ndash;&gt;-->
  <!--&lt;!&ndash;<form class="modal-content" action="/action_page.php">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
      <!--&lt;!&ndash;<h1>Sign Up</h1>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>Please fill in this form to create an account.</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<hr>&ndash;&gt;-->
      <!--&lt;!&ndash;<label for="email"><b>Email</b></label>&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="text" placeholder="Enter Email" name="email" required>&ndash;&gt;-->

      <!--&lt;!&ndash;<label for="psw"><b>Password</b></label>&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="password" placeholder="Enter Password" name="psw" required>&ndash;&gt;-->

      <!--&lt;!&ndash;<label for="psw-repeat"><b>Repeat Password</b></label>&ndash;&gt;-->
      <!--&lt;!&ndash;<input type="password" placeholder="Repeat Password" name="psw-repeat" required>&ndash;&gt;-->

      <!--&lt;!&ndash;<label>&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me&ndash;&gt;-->
      <!--&lt;!&ndash;</label>&ndash;&gt;-->

      <!--&lt;!&ndash;<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>&ndash;&gt;-->

      <!--&lt;!&ndash;<div class="clearfix">&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="submit" class="signup">Sign Up</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
